@font-face {
    font-family: Amazon ;
    src: url(./amazon-ember-cufonfonts/Amazon\ Ember.ttf);
}

@font-face {
    font-family: Amazon-Bold;
    src: url(./amazon-ember-cufonfonts/Amazon\ Ember\ Bold.ttf);
}

@font-face {
    font-family: Amazon-light;
    src: url(./amazon-ember-cufonfonts/Amazon\ Ember\ Display\ Light.ttf);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Amazon;
    background: #EAEDED;
}

.nav {
    width: 100%;
    background-color: #131921;
    height: 60px;
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    column-gap: 28px;
}

.logo {
    width: 100px;
    height: 57px;
    cursor: pointer;
    border: 1px solid transparent;
}

.logo:hover {
    border: 1px solid white;
    margin-bottom: 5px;
}

.sec-nav {
    display: flex;
    margin-right: 20px;
    align-items: center;
    margin-left: 1px;
    margin-right: 1px;
    column-gap: 4px;
    cursor: pointer;
    width: 70px;
    border: 1px solid transparent;
    
}

.sec-nav:hover {
    border: 1px solid white;
    min-width: 65px
}

.solid {
    margin-right: 0px;
    color: white;
    align-self: center;
}

.fa-solid fa-location-dot {
    color: white;
}

.nigeria {
    display: flex;
    flex-direction: column;
}

.faint {
    color: white;
    font-weight: lighter;
    font-size: 12px;
    font-family:Amazon;
}

.bolder {
    color: white;
    font-size: 14px;
    font-family:Amazon;
    font-weight: bolder;
}

.middle {
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-shrink: 1;
    width: 708px;
}
/* .middle-bod {
    position: absolute;
    width: 704px;
    height: 44px;
    margin-top: -2px;
    border: 3px solid transparent;
    border-radius: 4px;
    margin-left: -48px; */
/* .put:focus {
    border: 3px solid #FEBD68;
} */
.all{
    position: relative;
    width: 45px;
    background: #f3f3f3;
    color: black;
    display: flex;
    align-items: center;
    height: 36px;
    border-radius: 4px 0px 0px 4px;
    margin-top: 0px;
    column-gap: 9px;
    justify-content: center;
    cursor: pointer;
    left: 0px;
    border: 3px solid transparent;
}
.fa-all {
    color: red;
}

.tooltip-all {
    color: transparent;
    position: absolute;
    top: 40px;
    left: 25px;
}
.in {
    font-size: 11px;
}

.all:hover .tooltip-all {
    background: #dadada;
    color: black;
    transition: 0.4s;
    padding: 0px 4px;
}

.para {
    font-size: 13px;
    padding-left: 3px;
    text-align: center;
}

.input {
    display: flex;
    width: 812px;
    height: 40px;
    flex-shrink: 1;
    margin-left: -3px;
    border-color: transparent;
    border:0;
}

.fa-all::before {
    color: gray;
    font-size: 12px;
}

.put {
    position: relative;
    height: 100%;
    width: 812px;
    outline: none;
    border: none;
}

.glass {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 36px;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 0 4px 4px 0;
    background-color: #F2A646;
    color: black;
    cursor: pointer;
    border: 3px solid transparent;
}
.last-div {
    display: flex;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    margin-left: 100px;
}
.sec-solid  {
    color: white;
}
.fa-sec::before {
    font-size: 12px;
    color: gray;
}
.hello {
    font-size: 12px;
    font-family: Amazon
}
.fa-hello::before {
    font-size: 12px;
    color: gray;
}
.account {
    font-size: 14px;
    font-weight: bolder;
    font-family: Amazon
}
.one {
    margin-right: 0;
    height:100%;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding:0px 10px;
    border: 1px solid transparent;
}
.span {
    font-family: Amazon;
    font-size: 14px;
}
.one:hover {
    border: 1px solid white;
    border-radius: 2px;
    height: 50px;
}
.two {
    margin: 0px;
    color: white;
    border: 1px solid transparent;
    padding: 9px;
}
.two:hover {
    border: 1px solid white;
    
}
.return {
    color: white;
    border: 1px solid transparent;
    padding: 9px;
}
.return:hover {
    border: 1px solid white;
}
.turn {
    font-size: 13px;
    font-family: Amazon
    
}
.order {
    font-size: 15px;
    font-weight: bolder;
    font-family: Amazon
}
.cart {
    height: 40px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: white;
    column-gap: 3px;
    border: 1px solid transparent;
    padding: 9px;
}
.fa-cart {
    margin-bottom: 10px;
    font-size: 30px;
    padding-top: 0;
}

.cart:hover {
    border: 1px solid white;
}
.img {
    width: 21px;
    height: 16px;
}
.span {
    color: white;
}
.fa-caret-down {
    color: white;
}

.nav-sec {
    display: flex;
    align-items: center;
    column-gap: 5px;
    border: 1px solid transparent;
    padding-left: 8px;
}
.nav-sec:hover {
    border: 1px solid white;
}

.last-nav {
    display: flex;
    align-items: center;
    background: rgb(35, 47, 62);
    color: white;
    cursor: pointer;
    height: 40px;
}
.child {
    display: flex;
    font-family: Amazon;
    font-size: 14px;
}

.child__children{
    border:1px solid transparent;
    margin: 0;
    height: 25px;
    border-radius: 2px;
    padding:0px 5px;
    display: flex;
    align-items: center;
}

.child__children:hover{
    border-color:white;
}


/* Icon styles */

.fa-magnifying-glass{
    font-size: initial
}

.two:hover .dropdown{
    display: block;
}



.dropdown {
    top: 15px;;
    left:58%;
    position:absolute;
    background: white;
    width: 450px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid #eee;
    margin-top: 50px;
    border-radius: 2px;
    padding-bottom: 20px;
    padding-top:10px;
    display: block;
    pointer-events: all;
    cursor: pointer;
    visibility: hidden;
}

.dropdown::after {
    top:-20px;
    left:70%;
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.dropdown:hover{
    top: 15px;;
    left:58%;
    display: block;
    visibility: visible !important;
}








.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .sign-in {
    background: #F0C35B;
    cursor: pointer;
    height:148px;
    width:100%;
} */
.new {
    display: flex;
}
.span-new {
    font-size: 11px;
}
.span-start {
    font-size: 11px;
    color: blue;
}
.span-start:hover {
    text-decoration: underline;
    color: orange;
    cursor: pointer;
}
.content {
    margin-bottom: 5px;
}
.line1 {
    border-bottom: 1px solid lightgray;
    width: 90%;
}
.line2 {
    border: 0.5px solid lightgray;
    height: 280px;
    align-self: center;
    
}
.wrapper2 {
    display: flex;
    justify-content: space-between;
}
.first-wrapper {
    font-size: 13px;
    color: black;
    line-height: 10px;
}

.first-wrapper__title{
    font-family: inherit;
    font-weight:900;
    font-size: 16px;
    color: black;
}


.links:hover {
    color: #FF9900;
}
.first-wrapper p:hover {
    color: #FF9900;
    text-decoration: underline;
}
.general-grid {
    position: relative;
}
.slider-pic {
    width: 1500px;
    height: 600px;
}
.first-grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 335px);
    gap: 15px;
    left: 30px;
    margin-top: -350px;
}
.first-grid div{
    background: white;
}

.we-ship{
    background-color: transparent !important;
}

.we-ship-1{
    background-color: white;
    padding-bottom: 20px;

}


.accessory-text {
    font-size: 19px;
    font-family: Amazon-Bold;
    margin-left: 20px;
}
.gaming-accessory-pix {
    display: flex;
    margin-bottom: 0;
}
.acc-2 {
    margin-left: -35px;
}
.acc-4 {
    margin-left: -35px;
}
.accessory-pix {
    width: 185px;
    height: 115px;
}
.accessory-name {
    margin-top: 0px;
    font-size: 12px;
    margin-left: 20px;
}
.link {
    font-size: 12px;
    color: #007185;
    margin-left: 20px;
    text-decoration: none;
}
.link:hover {
    color: #C7511F;
    text-decoration: underline;
}
.link-div {
    padding-top: 35px;
    padding-bottom: 25px;
}
.link-div-11 {
    font-size: 12px;
    padding-top: 19px;
}
.link-11 {
    color: #007185;
    margin-left: 20px;
    text-decoration: none;
}
.link-11:hover {
    color: #C7511F;
    text-decoration: underline;
}

.accessory-pix-2 {
    width: 146px;
    height: 129px;
}
.gaming-accessory-pix-2 {
    display: flex;
    column-gap: 3px;
    margin-left: 20px;
}
.accessory-name-1 {
    margin-top: -4px;
    background: #F5FAFB;
    font-size: 13px;
}
.accessory-name-2 {
    margin-top: -4px;
    background: #F5FAFB;
    font-size: 13px;
}
.dress-text {
    font-family: Amazon-Bold;
    font-size: 19px;
    margin-left: 20px;
}
.dress-pix {
    width: 300px;
    height: 330px;
    margin-left: 19px;
}
.link-div-2 {
    margin-top:6px;
    padding-right: 20px;
}
.link-2 {
    font-size: 12px;
    margin-left: 20px;
    color: #007185;
    text-decoration: none;
}
.link-2:hover {
    color: #C7511F;
    text-decoration: underline;
}
.we-ship {
    display: flex;
    flex-direction: column;
}
.we-ship div:nth-last-child(odd) {
    background: transparent !important;
}
.we-ship-text {
    font-family: Amazon-Bold;
    font-size: 20px;
    margin-left: 5%;
    line-height: 25px;
}
.we-ship-btn {
    width: 90%;
    margin-left: 5%;
    height: 29px;
    border-radius: 9px;
    border: none;
    background: #FFD814;
}
.we-ship-btn:hover {
    background: #F1C200;
}
.we-ship-box {
    margin-top: 32px;
}
.we-ship-pix {
    width: 300px;
    height: 250px;
    margin-left: 5%;
}
.grid-line-2 {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 335px);
    gap: 15px;
    margin-left: 30px;
}
.grid-line-2 div {
    background: white;
}
.elect-text {
    font-family: Amazon-Bold;
    font-size: 21px;
    margin-left: 20px;
}
.elect-pix {
    width: 335px;
    height: 303px;
    margin-left: px;
}
.link-box {
    margin-top: 15px;
    padding-bottom: 30px;
}
.elect-link {
    font-size: 11px;
    margin-left: 20px;
    text-decoration: none;
    color: #007185;
}
.elect-link:hover {
    text-decoration: underline;
    color: #C7511F;
}
.elect-pix-2 {
    width: 290px;
    height: 303px;
    margin-left: 22px;
}
.top-deal-pix {
    width: 234px;
    height: 230px;
    margin-left: 45px;
}
.top-deal-text {
    font-family: Amazon-Bold;
    font-size: 21px;
    margin-left: 20px;
}
.top-deal-flex {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
}
.top-deal-t1 {
    background: red;
    font-size: 13px;
    font-weight: lighter;
    color: white;
    padding: 5px;
}
.top-deal-t2 {
    font-family: Amazon-Bold;
    font-size: 12px;
}
.tint {
    margin-top: -20px;
}
.tint-text {
    font-size: 13px;
    margin-left: 20px;
}
.tint-box {
    margin-top: 28px;
}
.tint-link {
    font-size: 11px;
    color: #007185;
    text-decoration: none;
    margin-left: 20px;
}
.tint-link:hover {
    color: #C7511F;
    text-decoration: underline;
}
.less {
    position: absolute;
    top: 130px;
    border: 2px solid lightseagreen;
    height: 50px;
    left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    background: white;
    opacity: 0.5;
}
.fa-less-than {
    font-size: 25px;
}
.greater {
    position: absolute;
    top: 130px;
    left: 94%;
    padding: 25px;
    background: white;
}
.fa-greater-than {
    font-size: 25px;
}
.book-text-2 {
    font-family: Amazon-Bold;
    font-size: 21px;
    margin-left: 20px;
}
.book-sellers {
    position: relative;
    background: white;
    margin-left: 30px;
    margin-right: 25px;
    margin-top: 30px;
    padding-bottom: 20px;
}
.book-seller-box-1 {
    display: grid;
    grid-template-columns: repeat(9, 130px);
    gap: 20px;
}
.book-seller-pix {
    height: 200px;
    margin-left: 25px;
}
.Home-decor {
    position: relative;
    background: white;
    margin-left: 30px;
    margin-right: 25px;
    margin-top: 30px;
    padding-bottom: 20px;
}
.decor-box-1 {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    gap: 20px;
}
.decor-pix {
    width: 200px;
    height: 200px;
    margin-left: 30px;
}
.grid-line-3 {
    display: grid;
    grid-template-columns: repeat(4, 335px);
    gap: 15px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.grid-line-3 div {
    background: white;
}
.light-pix {
    height: 303px;
    width: 300px;
    margin-left: 18px;
}
.beauty-box-1 {
    display: grid;
    grid-template-columns: 115px 115px 222px 270px 162.5px 135px 73.5px 270px;
    gap: 25px;
}

.beauty-pix-1 {
    width: 38px;
    height: 200px;
    margin-right: 10px;
}
.beauty-pix-2 {
    width: 48px;
    height: 200px;
}
.beauty-pix-3 {
    width: 222px;
    height: 200px;
}
.beauty-pix-4 {
    width: 270px;
    height: 168.22px;
}
.beauty-pix-5 {
    width: 152.5px;
    height: 200px;
}
.beauty-pix-6 {
    width: 71.5px;
    height: 200px;
}
.beauty-pix-7 {
    width: 73.5px;
    height: 200px;
}
.beauty-pix-8 {
    width: 270px;
    height: 162px;
}
.beauty {
    background: white;
    margin-left: 30px;
    margin-right: 25px;
    padding-bottom: 20px;
}
.beauty-box-1 {
    padding-left: 60px;
}
.beauty-emp {
    position: absolute;
    border-width: 3px;
    width: 29px;
    background: #EAEDED;
    top: 2220px;
    right: -5px;
    padding-top: 14em;
}

.beauty-less {
    position: absolute;
    top: 2300px;
    background: whitesmoke;
    box-shadow: 10px, 15px, 0.9px wheat;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 30px;
}
.fa-less-than {
    opacity: 0.5;
}
.beauty-greater {
    position: absolute;
    top: 2300px;
    right: 0px;
    background: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 10px;

}
.kitchen-box-1 {
    display: grid;
    grid-template-columns: 200.5px 221.5px 200px 198.5px 200.5px 200px 152.5px;
    gap: 15px;
    margin-left: 20px;
}
.kitchen {
    background: white;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
}
.kitchen-less {
    position: absolute;
    top: 2600px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 30px;
    background: white;
    opacity: 0.6;
}
.kitchen-greater {
    position: absolute;
    top: 2600px;
    padding-bottom: 30px;
    left: 1352px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 30px;
    background: white;
}
.kitchen-pix-1 {
    width: 200.5px;
}
.kitchen-pix-2 {
    width: 221.5px;
}
.kitchen-pix-3 {
    width: 200px;
}
.kitchen-pix-4 {
    width: 198.5px;
}
.kitchen-pix-5 {
    width: 200.5px;
}
.kitchen-pix-6 {
    width: 200px;
}
.kitchen-pix-7 {
    width: 162.5px;
}
.kitchen-emp {
    position: absolute;
    border-width: 3px;
    width: 29px;
    background: #EAEDED;
    top: 2550px;
    right: 0px;
    padding-top: 14em;
}
.tracker {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 335px);
    gap: 15px;
    margin-left: 30px;
}
.tracker-box {
    padding-bottom: 20px;
    
}
.tracker div {
    background: white;
}
.tracker-text {
    font-family: Amazon-Bold;
    font-size: 21px;
    margin-left: 20px;
}
.tracker-pix {
    width: 300px;
    height: 278px;
    margin-left: 18px;
}
.tracker-link-box {
    margin-top: 20px;
}
.tracker-link {
    font-size: 12px;
    text-decoration: none;
    color: #007185;
}
.tracker-link:hover {
    text-decoration: underline;
    color: #C35600;
}

.merchandise-text {
    font-size: 20px;
    font-family: Amazon-Bold;
    margin-left: 20px;
}
.kindle-link-box {
    margin-top: 40px;
}
.kindle-link {
    font-size: 11px;
    text-decoration: none;
    color: #007185;
}
.kindle-link:hover {
    text-decoration: underline;
    color: #C35600;
}
.pet-link-box {
    margin-top: 40px;
}

.pc-box {
    display: grid;
    grid-template-columns: 270px 270px 262px 246px 241px;
    gap: 15px;
    margin-left: 10px;
}
.pc {
    background: white;
    margin-left: 30px;
    margin-right: 28px;
    padding-bottom: 20px;
}
.pc-text {
    font-size: 21px;
    font-family: Amazon-Bold;
}
.pc-pix-1 {
    width: 270px;
    height: 182px;
}
.pc-pix-2 {
    width: 270px;
    height: 162px;
}
.pc-pix-3 {
    width: 262px;
    height: 200px;
}
.pc-pix-4 {
    width: 246px;
    height: 200px;
}
.pc-pix-5 {
    width: 241px;
    height: 200px;
}
.pc-less {
    position: absolute;
    top: 3350px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 30px;
    background: white;
    opacity: 0.9;
}
.pc-greater {
    position: absolute;
    top: 3350px;
    padding-bottom: 30px;
    left: 1352px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 30px;
    background: white;
}
.baby-text {
    font-size: 21px;
    font-family: Amazon-Bold;
    margin-left: 20px;
}
.baby-grid {
    display: flex;
    align-items: center;
}
.baby-text-box {
    margin-right: 10px;
}
.baby-link {
    text-decoration: none;
    color: #007185;
}
.baby-link:hover {
    text-decoration: underline;
    color: #C35600;
}
.gifts-in-baby {
    background: white;
    margin-left: 30px;
    margin-right: 28px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.baby-less {
    position: absolute;
    top: 3650px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 30px;
    background: white;
    opacity: 0.9;
}
.baby-greater {
    position: absolute;
    top: 3650px;
    padding-bottom: 30px;
    left: 1352px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 30px;
    background: white;
}
.baby-box {
    display: grid;
    grid-template-columns: 197px 208px 269px 179px 79px 222px 179px;
    gap: 15px;
    margin-left: 50px;
}
.baby-pix-1 {
    width: 197px;
    height: 200px;
}
.baby-pix-2 {
    width: 208px;
    height: 200px;
}
.baby-pix-3 {
    width: 269px;
    height: 200px;
}
.baby-pix-4 {
    width: 179px;
    height: 200;
}
.baby-pix-5 {
    width: 79px;
    height: 200px;
}
.baby-pix-6 {
    width: 222px;
    height: 200px;
}
.baby-pix-7 {
    width: 179px;
    height: 200px;
}
.baby-emp {
    position: absolute;
    border-width: 3px;
    width: 29px;
    background: #EAEDED;
    top: 3590px;
    right: 0px;
    padding-top: 14em;
}
.home {
    background: white;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
}
.home-less {
    position: absolute;
    top: 3950px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 30px;
    background: white;
    opacity: 0.9;
}
.home-greater {
    position: absolute;
    top: 3950px;
    padding-bottom: 30px;
    left: 1352px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 30px;
    background: white;
}
.home-text {
    font-size: 21px;
    font-family: Amazon-Bold;
    margin-left: 20px;
}
.home-box {
    display: grid;
    grid-template-columns: 253px 172px 211px 143px 130px 145px 197px 200px;
    gap: 10px;
}
.home-pix-1 {
    width: 253px;
    height: 200px;
}
.home-pix-2 {
    width: 172px;
    height: 200px;
}
.home-pix-3 {
    width: 211px;
    height: 200px;
}
.home-pix-4 {
    width: 143px;
    height: 200px;
}
.home-pix-5 {
    width: 130px;
    height: 200px;
}
.home-pix-6 {
    width: 94px;
    height: 200px;
    margin-left: 25px;
}
.home-pix-7 {
    width: 197px;
    height: 200px;
}
.home-pix-8 {
    width: 200px;
    height: 200px;
}
.home-emp {
    position: absolute;
    border-width: 3px;
    width: 29px;
    background: #EAEDED;
    top: 3880px;
    right: 0px;
    padding-top: 14em;
}
.history-grid {
    display: grid;
}
/* .history-grid div {
} */
.history {
    background: white;
    height: 680px;
    margin-top: 20px;
}
.history-line {
    position: absolute;
    width: 1435px;
    padding-bottom: 607px;
    border: 1px solid #DDDDDD;
    margin-top: 50px;
    border-radius: 4px;
}
.history-text {
    position: absolute;
    font-size: 25px;
    font-family: Amazon-Bold;
    top: 4185px;
    margin-left: 30px;
}
.history-grid {
    position: absolute;
    top: 4250px;
    display: grid;
    grid-template-columns: repeat(7, 160px);
    gap: 15px;
    margin-left: 100px;
}
.history-pix-1 {
    width: 155px;
    height: 160px;
}
.history-pix-2 {
    width: 150px;
    height: 160px;
}
.history-pix-3 {
    width: 150px;
    height: 160px;
}
.history-pix-4 {
    width: 150px;
    height: 160px;
}
.history-pix-5 {
    width: 155px;
    height: 160px;
}
.history-pix-6 {
    width: 160px;
    height: 160px;
}
.history-pix-7 {
    width: 160px;
    height: 160px;
}
.history-p-text {
    color: #007185;
    font-size: 14px;
    line-height: 20px;
    margin-top: 2px;
}
.iicon {
    margin-bottom: 9px;
}
.fa-star {
    color: #FFA41B;
    margin-top: 2px;
}
.fa-star-half-stroke {
    color: #FFA41B;
}

.history-clip__span-3{
    margin-left: 30px;
    color:black
}

.history__description{
    margin-left: 30px;
}

.numb {
    font-size: 14px;
    color: #007185;
    margin-top: 2px;
}

.clip{
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    background-color: #232F3E;
    border: none !important;
    width: 110px;
    height:23px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    display: flex;
    align-items: center;
}

.clip-tx__2{
    color: black;
    font-size: 11px;
    align-self: flex-end;
}
.clip-tx__1 {
    color: #f69931;
}
.clip-box {
    display: flex;
}
.weather-text {
    font-size: 12px;
    margin-top: 3px;
}
.weather-box {
    margin-top: 0px;
}
.dol {
    font-size: 11px;
}
.dol-2 {
    font-size: 18px;
}
.dol-3 {
    font-size: 12px;
    font-weight: 100;
}
.dol-4 {
    font-size: 12px;
}
.dol-5 {
    font-size: 13px;
    font-weight: bolder;
}
.dol-tx {
    margin-top: -10px !important;
}
.seller-clip-box {
    -webkit-clip-path: polygon(0% 0%, 60% 0, 57% 52%, 60% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 60% 0, 57% 52%, 60% 100%, 0% 100%);
    background: #C35600;
    border-radius: 4px 0 0 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 6px;
}
.seller-clip {
    display: flex;
    color: white;
    font-size: 12px;
    align-self: center;
    margin-left: 6px;
}
.history-link {
    text-decoration: none;
    line-height: 20px;
    color: #007185;
}
.history-link:hover {
    color: #C7511F;
}
.dol-box {
    margin-top: 10px;
}
.line-2 {
    position: absolute;
    border: 0.5px solid #DDDDDD;
    width: 94%;
    top: 490px;
    margin-left: 3%;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    height: fit-content;
}
.recomendation-box {
    display: flex;
    justify-content: center;
    height: 35px;
    font-size: 13px;
}
.recomendation-link {
    display: flex;
    justify-content: center;
}
.recomend-link {
    font-size: 12px;
    font-weight: 600;
    border: 1px solid rgb(0,113,113,.5) !important;
}
.start-link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 12px;
}

.start-link-box__link{
    color: #007185;
    text-decoration: none;
    margin-left: 3px;
}
.recomend-link {
    width: 230px;
    height: 28px;
    border-radius: 2px;
    border: none;
    background: #FFCA43;
}
.back-to-top-nav {
    display: flex;
    justify-content: center;
    background: #485868;
}
.back-to-top-text {
    font-size: 14px;
    color: white;
}

.know-us-grid {
    display: grid;
    grid-template-columns: 116.06px 165.320px 202.211px 137.414px;
    gap: 100px;
    margin-left: 20%;
}
.know-us-box {
    background: #232F3E;
    padding-bottom: 2.5%;

}
.know-us-links {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: Amazon-Bold;
    color: #C5C6C8;

}
.know-us-link {
    color: #C5C6C8;
    text-decoration: none;
}
.know-us-link:hover {
    text-decoration: underline;
}

.know-us {
    font-size: 16px;
    color: white;
}
.last-line {
    margin-top: 30px;
    border: 0.40px solid #3A4553;
    width: 100%;
}
.footer {
    display: flex;
    margin-left: 30%;
    margin-top: 20px;
}
.footer-logo {
    width: 100px;
}
.footer-logo-box {
    margin-right: 10%;
}
.footer-eng {
    display: flex;
    border: 1px solid white;
    padding: 0px 25px 0px 5px;
    align-items: center;
}
.fa-globe {
    margin-right: 3px;
}
.footer-up-down {
    display: flex;
    flex-direction: column;
}
.footer-1 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-text {
    border: 1px solid white;
    padding: 1px 25px 1px 5px;
}
.foot-text {
    color: #CCCCCC;
    margin-right: 25px;
    font-size: 13px;
}
.fa-globe {
    color: white;
}
.fa-caret-up {
    color: #32363B;
}
.fa-caret-down {
    color: #32363B;
}
.foot-text-logo {
    width: 21px;
    height: 16px;
}
.footer-icon {
    display: flex;
    align-items: center;
}
.last-footer {
    background: #131A22;
    width: 100%;
    margin-top: -20px;
}
.amazon-foot-text {
    color: #D7D7D7;
    font-size: 11px;
    margin-top: 40px;
    text-align: left;
}
.last-footer-gridd {
    display: grid;
    grid-template-columns: 84.4px 85px 69.36px 68.55px 123.45px 94.45px 88.45px ;
    gap: 70px;
    margin-left: 18%;
}
.amazon-foot-text-2 {
    font-size: 10px;
    color: #999999;
    margin-top: -5px;
    text-align: left;
}
.amazon-line2 {
    display: grid;
    grid-template-columns: 84.4px 85px 69.36px 68.55px 123.45px 94.45px 88.45px ;
    gap: 70px;
}
.amazon-line22 {
    text-align: left;
    margin-top: -60px;
}
.last-footer1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.footer-text-last {
    font-size: 12px;
    font-family: Amazon-Bold;
    color: #999999;
}
.foot-1 {
    font-size: 12px;
    font-family: Amazon-Bold;
    color: #999999;
    margin-top: -20px;
}




@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
        width:fit-content;
    }

    .nav{
        width: 1500px;
        height:60px;
    }

    .sec-div{
        width:80px;
        height:50px;
    }

    .sec-div > img {
        width:80px;
        height:100%;
    }

    .last-nav{
        width: 100%;
    }

    /* .general-grid{
        width:100vw;
    } */
    .slider-pic{
        width:100%
    }

    .greater {
        left: 1300px;
    }


    .book-sellers {
        width: 1350px;
    }


    .Home-decor{
        width: 1350px;
    }


    .beauty {
        width: 1350px;
    }


    .beauty-greater {
        left: 1300px;
    }


    .kitchen{
        width: 1350px;
    }


    .kitchen-greater{
        left: 1300px;
    }


    .cart{
        display: none;
    }


    .dress{
        display: none;
    }

    .first-grid{
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }


    .gaming-accessory-pix {
        justify-content: center; 
        width:100%;       
    }

    .gaming-access{
        width:500px;
    }
    .accessory-pix, .accessory-pix-2{
        width: 185.758px;
    }

    .acc-1,.acc-5,.acc-6,.acc-7,.acc-8{
        width:250px;
    }

    .acc-1,.acc-5,.acc-6,.acc-7,.acc-8 > img{
        width:250px;
    }


    .accessory-name,.accessory-name-1,.accessory-name-2,
    .link,.link-11{
        font-size: 29px;
    }


    .accessory-text{
        font-size: 35px;
    }


    .gaming-accessory-pix-2{
        justify-content: space-between;
    }

    .we-ship{
        width:500px;
        display: flex;
        align-items: center;
        row-gap: 25px;
    }

    .we-ship-1{
        width:80%;
    }

    .we-ship-box{
        width:80%;
    }

    .we-ship-pix{
        display: flex;
        flex-direction: row;
        justify-items: center;
        width:100%;
        margin:0;
    }

    .grid-line-2{
        margin-top: 280px;
    }

    /* First column box finished */



    /* Second column box style starts */

    .grid-line-2 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .elect-text {
        font-size: 35px;
    }
    .col2 {
        margin-left: 100px;
    }
    .col-tx{
        margin-left: 20px;
        font-size: 40px;
    } 
    .delete {
        display: none;
    }
    .book-seller-box-1 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    .book-sellers {
         width: 1500px;
    }
    .greater {
        position: absolute;
        left: 94%;
    }
    .book-seller-pix {
        width: 200px;
        height: 220px;
    }
    .book-text-2 {
        font-size: 35px;
    }
    .Home-decor,.beauty {
        width: 1500px;
    }
    .decor-pix {
        width: 250px;
        gap: 5px;
    }
    .grid-line-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .light-pix {
        width: 378px;
        height: 303px;
        margin-left: 55px;
    }
    .top-deal-text {
        font-size: 35px;
    }
    .elect-link {
        font-size: 20px;
    }
    .beauty-greater {
        position: absolute;
        top: 2750px;
        left: 91%;
    }
    .beauty-less {
        position: absolute;
        top: 2750px;
    }
    .beauty-box-1 {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .beauty-pix-1 {
        width: 35px;
        height: 200px;
    }
    .kitchen-greater {
        position: absolute;
        left: 90%;
        top: 2750px;
    }
    .kitchen-less {
        position: absolute;
        top: 2750px;
    }
    .kitchen-box-1{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .kitchen-pix-1 {
        width: 200px;
        height: 200px;
    }
    .kitchen {
        width: 1500px;
    }
    .kitchen-greater {
        position: absolute;
        top: 3100px;
    }
    .kitchen-less {
        position: absolute;
        top: 3100px;
    }
    .tracker {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .tracker-text {
        font-size: 35px;
    }
    .tracker-pix {
        width: 398px;
        height: 303px;
        margin-left: 14%;
    }
    .tracker-picture {
        margin-left: 5px;
    }
    .pc {
        width: 1500px;
    }
    .pc-greater {
        position: absolute;
        top: 3940px;
        left: 96%;
    }
    .pc-box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
    }
    .pc-pix-1 {
        width: 370px;
        height: 200px;
        margin-left: 70px;
    }
    .pc-pix-2 {
        width: 350px;
        height: 200px;
    }
    .pc-pix-3 {
        width: 370px;
        height: 200px;
    }
    .pc-less {
        position: absolute;
        top: 3900px;
    }
    .pc-greater {
        position: absolute;
        top: 3900px;
    }
    .baby-less,.home-less,.baby-greater,.home-greater,.pc-less {
        display: none;
    }
    .history {
        height: 0;
    }
    .history-text{
        font-size: 35px;
    }
    .history-grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 55px;
        margin-right: 100px;
    }
    .history-pix-1 {
        width: 300px;
        height: 260px;
    }
    .history-pix-2 {
        width: 300px;
        height: 260px;
    }
    .history-pix-3{
        width: 300px;
        height: 260px;
    }
    .history-pix-4{
        width: 300px;
        height: 260px;
    }
    .history-link{
        font-size: 35px;
        line-height: 50px;
    }
    .baby-box,.baby-grid,.home-box,.home-text {
        display: none;
    }
    .line-2 {
        margin-top: -750px;
    }
    .history {
        margin-top: 1000px;
    }
    .last-footer-gridd {
        margin-top: 0px;
    }
}

